html, body {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ededed;
}

p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
}

.navi{
    height: 75px;
    background-color: #3498db;
}

.navi .brand-logo{
    margin-top: 7px;
}

.navi ul > li {
    margin: 0 9px;
}

.navi ul > li > a.active{
    color: #fff !important;
}

.navi ul > li >a.active:hover{
    background-color: transparent;
}

.navi ul > li > a{
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1.2rem;
    position: relative;
}

.navi ul > li > a:hover,
.navi ul > li > a:focus:hover{
    color: #ffffff;
    background-color: transparent;
}

.navi ul > li > a:before{
    content: '';
    position: absolute;
    bottom: 0px;
    background: #ffffff;
    height: 4px;
    width: 0;
    left: 0;
	transition:.5s all;
}

.navi ul > li > a:hover:before,
.navi ul > li > a.active:before{
	width: 100%;
}

.head{
    width: 100%;
    height: 598px;
    background: url('../images/header4.jpg');
}

.head-depan{
    width: 100%;
    height: 598px;
    background-color: #00000098;
}

.head-sub h1{
    margin: 0px;
    text-align: center;
    padding-top: 150px;
}

.head-sub p{
    text-align: center;
}

.head-sub a{
    font-size: 18px;
}

.btn-head{
    margin-left: 280px;
    margin-top: 80px;
    background-color: #3498db;
}

.btn-head:hover{
    background-color: rgb(43, 119, 170);
}

.btn-head:focus{
    background-color: #3498DB;
}

/* Beranda */
.tulisan-gambar{
    font-size: 18px;
}

.containers{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.tombol{
    background: #3498db;
    margin-left: 560px;
}

.tombol2{
    background: #3498db;
    margin-left: 560px;
}

.tombol:hover{
    background: rgb(43, 119, 170);
}

.tombol2:hover{
    background: rgb(43, 119, 170);
}

.beranda-prf{
    width: 100%;
    min-height: 660px;
    background-color: #3490CE;
    margin-top: 30px;
}

.beranda-prf #kir{
    font-family: 'playfair';
    font-size: 30px;
    margin-top: 250px;
}

.beranda-prf #kan{
    font-size: 20px;
}

/* Berita */
#old-post-btn{
    background: #3498DB;
    margin-left: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
  }



/* Kontak */
.kontak h3{
    padding-top: 25px;
}

.kontak .map iframe{
    width: 100%;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* galeri */
.galeri h3{
    padding-top: 25px;
}

/* Bagian footer */

  /* label color */
  .input-field label {
    color: white;
}

  /* valid color */
  .input-field input[type=email].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
  /* invalid color */
  .input-field input[type=email].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

#footer{
  background: #3498DB;
}

#sign-up-btn{
    background: #3490CE;
    margin-left: 12px;
    margin-top: -20px;
    padding-left: 30px;
    padding-right: 30px;
}

/* DetailBerita1 */

#konten-berita img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.author{
  font-size: 14px;
  margin: 0;
}

#konten-berita p > i {
  font-size: 14px;
}

#title{
  font-size: 30px;
  font-weight: 540;
}

.text-berita{
  text-align: justify;
  font-size: 15px;
}

#comment-form input, #comment-form textarea {
  border: 1px solid grey;
}
